html, body {
    margin: 0;
    padding: 0;
    }
   body {
    background-color: white; 
    font-family: Verdana, sans-serif; 
    font-size: 100%;
    color: blue;
    }
   h1 {
    font-size: 200%; 
    color: navy; 
    text-align: center;
    }
.xbox10 {
    background-color: black;
    background-image: url('https://s2.qwant.com/thumbr/0x380/7/6/d2f4236e767ef5d7acefc585590b561baf5ffe859d5ca416dfbc559005e2a9/xbox-series-x.jpeg?u=https%3A%2F%2Fs1.ibtimes.com%2Fsites%2Fwww.ibtimes.com%2Ffiles%2Fstyles%2Fembed%2Fpublic%2F2019%2F12%2F13%2Fxbox-series-x.jpeg&q=0&b=1&p=0&a=1');
}