html, body {
    margin: 0;
    padding: 0;
    background: center / contain no-repeat url("https://s2.qwant.com/thumbr/0x380/7/7/9162f4aad3aa2bcfa87b352cd2ede5a2fde9ef89f42b21c905dd4a633f96ec/for-honor-break3-1474070991575_1280w.jpg?u=https%3A%2F%2Fassets1.ignimgs.com%2Fthumbs%2FuserUploaded%2F2016%2F9%2F16%2Ffor-honor-break3-1474070991575_1280w.jpg&q=0&b=1&p=0&a=1"); 
    }
   body {
        background-image: url("https://s2.qwant.com/thumbr/0x380/7/7/9162f4aad3aa2bcfa87b352cd2ede5a2fde9ef89f42b21c905dd4a633f96ec/for-honor-break3-1474070991575_1280w.jpg?u=https%3A%2F%2Fassets1.ignimgs.com%2Fthumbs%2FuserUploaded%2F2016%2F9%2F16%2Ffor-honor-break3-1474070991575_1280w.jpg&q=0&b=1&p=0&a=1");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;    
        font-family: Verdana, sans-serif; 
        font-size: 100%;
         color: black;
    }
   h1 {
    font-size: 200%; 
    font: 55.5px;
    font-family: "SegoeProBlack";
    color: white;
    text-align: center;
    Padding: 6px 0px;
    }
    h2{
        font-size: 200%; 
        font: 55.5px;
        font-family: "Segoe UI";
        color: white;
        text-align: center;
        padding: 24px 0px 4px;
    }